
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange:hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);

    --color-dark-gray:hsl(234, 12%, 34%);
    --color-gray-light:hsl(229, 6%, 66%);
    --color-white:hsl(0, 0%, 98%);

    --ff-primary:"Poppins", sans-serif;
    
    --fw-light:350;
    --fw-normal:400;
    --fw-bold:600;

    --fs-small-:0.937rem;
    --fs-mid-:1.50rem;
    --fs-mid-large:2.3rem;
    --fs-big-:2.5rem;  


    --fs-mobile-big: 1.7rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-dark-light);
    font-family: var(--ff-primary);
    line-height: 1.7;
}

.title{
    text-align: center;
    margin-block: 4rem;
}

.title span{
    color: var(--color-gray-light);
    font-size: var(--fs-mid-large);
    font-weight: var(--fw-light);
}

.title h1{
    color: var(--color-dark-gray);
    font-weight: var(--fw-bold);
    font-size: var(--fs-mid-large);
    margin-top: -.8rem;
}

.title p{
    color: var(--color-gray-light);
    margin-top: .3rem;
    font-weight: var(--fw-normal);
    font-size: var(--fs-small-);

}

.container{
    max-width: 1140px;
    margin-inline: auto;
    
    
}

.card__img{
    display: block;
    margin-top: 3rem;
    margin-left: auto;
}

.card__container > *{
    flex:1;
}

.card__container{
    --gap:2rem;
    display: flex;
    gap: var(--gap);

}

@media screen and (max-width:1160px){
    .container{
        padding-inline: 2rem;
        
        
    }
}


@media screen and (max-width:902px){
    .card__container{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }

    .container{
        max-width: 85vw;

    }

    .title{
        padding-inline: 1.3rem;
    }
    .title h1,
    .title span{
       font-size: var(--fs-mobile-big);
        margin: -5px;
        margin-bottom: .7rem;
    }

    .title p{
        font-size: 1rem;
    }
}


.col{
    display: grid;
    gap: var(--gap);
    align-items: center;
}

.card{
    --border-r:0.350rem;
    padding: 2rem;
    border-radius: var(--border-r);
    background-color: white;
    box-shadow: 0 .8rem 1.3rem rgb( 0 0 0 / .1);
}


.card__title{
    font-size: var(--fs-mid-);
    font-weight: var(--fw-bold);
    color: var(--color-dark-gray);
}

.card p{
    font-weight: var(--fw-light);
    font-size: var(--fs-small-);
    color: var(--color-gray-light);
    margin-top: .3rem;
}


.border__cyan{
    border-top: var(--border-r) solid var(--color-cyan);
}

.border__red{
    border-top: var(--border-r) solid var(--color-red);
}

.border__blue{
    border-top: var(--border-r) solid var(--color-blue);
}

.border__orange{
    border-top: var(--border-r) solid var(--color-orange);
}